<%- include('../partials/nav.ejs') %>
<div class="row" style="display: flex; align-items: center; justify-content: center;">
    <div class="col-md-4 col-md-offset-4">
        <h1>Login</h1>
        <!-- Validation Errors -->
        <%- include('../partials/messages.ejs') %>
        <form action="/signin" method="POST">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" class="form-control" name="email" id="email" value="<%= typeof email != 'undefined' ? email : '' %>">
          </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password">
            </div>
            <p><a href="/reset-password">Forgot password?</a></p>
            <input type="hidden" name="_csrf" value="">
            <button style="width: 100%;" type="submit" class="btn btn-primary">Login</button>
  
        </form>
    </div>

</div>
