{% extends 'base.html' %} {% block content %} {% from "_formhelpers.html" import
render_field %}

<div class="row mt-4">
  <form action="{{url_for('auth.password_reset_request')}}" method="POST">
    {{form.csrf_token}}
    <fieldset class="form-group">
      <div>{{ render_field(form.email, class='form-control') }}</div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Send Request</button>
      </div>
    </fieldset>
  </form>
</div>

<style>
  .row {
    margin-left: 300px;
  }

  button {
    width: 300px;
  }
  label {
    font-weight: bolder;
  }
</style>

{% endblock content %}
