{% extends 'base.html' %}
<!-- {% include 'navbar.html' %} -->

{% block title %}Instagram - Forbidden{% endblock %} {% block content %}

<div class="page-header">
  <h1>403 - Forbidden</h1>
</div>

{% endblock content %}
