{% extends 'base.html' %}
<!-- {% include 'navbar.html' %} -->

{% block title %}Instagram - Page Not Found{% endblock %} {% block content %}

<div class="page-header">
  <h1>404 - Page Not found</h1>
</div>

{% endblock content %}
