{% extends 'base.html' %}
<!-- {% include 'navbar.html' %} -->

{% block title %}Instagram - Server error{% endblock %} {% block content %}

<div class="page-header">
  <h1>500 - Internal server error</h1>
</div>

{% endblock content %}
