{% extends 'base.html' %} {% block content %} {% include 'navbar.html' %} 


<div class="message me">
    <div class="text-main">
        <div class="text-group me">
            <div class="text me">
                <p>Hope you're all ready to tackle this great project. Let's smash some Brand Concept & Design!</p>
            </div>
        </div>
        <span><i class="material-icons">check</i>10:21 PM</span>
    </div>
</div>
<div class="message">
    <img class="avatar-md" src="dist/img/avatars/avatar-female-5.jpg" data-toggle="tooltip" data-placement="top" title="Keith" alt="avatar">
    <div class="text-main">
        <div class="text-group">
            <div class="text typing">
                <div class="wave">
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>


{% endblock content %}
